# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

*storybook.log
storybook-static

AGENTS.md
/docs
.github/copilot-instructions.md
QWEN.md
CLAUDE.md